name: practice
services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspaces/practice
      - /home/<host-user-name>/.ssh:/home/practice/.ssh:cached
    environment:
      - UV_LINK_MODE=copy
    command: sleep infinity
