{
    "name": "practice-standalone",
    "build": {
        "dockerfile": "../Dockerfile"
    },
    "mounts": [
        "source=/home/<host-user-name>/.ssh,target=/home/practice/.ssh,type=bind,consistency=cached"
    ],
    "containerEnv": {
        "UV_LINK_MODE": "copy"
    },
    "postCreateCommand": "sh .devcontainer/standalone/post-create-standalone.sh",
    "customizations": {
        "vscode": {
            "settings": {
                "terminal.integrated.fontFamily": "MesloLGS NF",
                "workbench.colorTheme": "Default Dark Modern"
            },
            "extensions": [
                "albymor.increment-selection",
                "chekweitan.compare-view",
                "eriklynd.json-tools",
                "github.copilot",
                "github.vscode-pull-request-github",
                "mechatroner.rainbow-csv",
                "medo64.render-crlf",
                "ms-azuretools.vscode-docker",
                "ms-python.black-formatter",
                "ms-python.python",
                "ms-python.vscode-pylance",
                "ms-toolsai.jupyter",
                "ms-vscode.cmake-tools",
                "ms-vscode.cpptools",
                "rioj7.command-variable",
                "rust-lang.rust-analyzer",
                "tamasfe.even-better-toml",
                "usernamehw.errorlens",
                "vadimcn.vscode-lldb"
            ]
        }
    }
}